{% extends 'base.html' %}

{% block content %}
    
    <style>
    .playbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }

    .playbar {
        width: 50%;
        height: 15%;
        background-color: rgba(250, 235, 215, 0.694);
        border-radius: 20px;
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 10px;
    }

    .playbar-controls {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
    }

    .playbar-button {
        border: none;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
        outline: none;
    }

    .playbar-progress {
        height: 5px;
        width: 57%;
        background-color: #e0e0e0;
        position: relative;
    }

    .playbar-progress-filled {
        height: 100%;
        background-color: #000000;
        position: absolute;
        width: 0%;
        transition: width 0.3s ease;
    }

    .playbar-time {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        font-size: 12px;
        color: #000000;
        padding-right: 30px;
    }
    </style>

      <div class="row" style="background-color: rgba(0, 0, 0, 0.7); border-radius: 30px;"></div>
        <div class="col-12 text-center">
          <br>
          <h1 style="color:antiquewhite; margin-bottom:8vh;margin-top: 7%;"> Music Generation with AI</h1>
          <hr>
        </div>
      </div>

      <div  data-toggle="modal" data-target="#exampleModal" style="position: absolute;bottom: 3vh;right: 3vh;width: 7vh;height: 7vh;border-radius: 5000px;padding:10px;background-color: antiquewhite;color: rgb(18, 18, 18);text-align: center;display: flex; align-items: center;justify-content: center;">
        <h4>i</h4>
      </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="position: fixed; top: 0; right: 0; left: 0; width: 100%; height: 100%; z-index: 9999; display: flex; align-items: center; justify-content: center;">
        <div class="modal-content" style="background-color: rgba(250, 235, 215, 0.717); padding: 20px; border-radius: 5px; position: relative;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                  style="position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; cursor: pointer; font-size: 20px; color: #000; border: none; background-color: transparent; outline: none;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <p>Create music effortlessly with a single click, throught the power of an <b>AI generator</b>. Our music generator empowers you to compose new melodies inspired by <ins>one of the artists available</ins> in this website. Improve your creations by seeking valuable feedback and let the AI generator transform your musical journey into an extraordinary experience ☻</p>
          </div>
        </div>
      </div>
    </div>

    <div class="artist-info" style="text-align: center; margin-top: 20px;">
        <p><h3 style="color: rgb(250, 235, 215)">Selected Artist:</h3></p>
        <div id="artistAttribute" style="font-style:oblique; font-size: 20px; margin-top: 10px; color: whitesmoke">
        </div>
    </div>
    
    <div class="playbar-container" style="margin-top:30px">
        <div class="playbar">
          <div class="playbar-controls">
            <button class="playbar-button" id="backward-button">&#9668;&#9668;</button>
            <button class="playbar-button" id="play-pause-button">&#9658;</button>
            <button class="playbar-button" id="forward-button">&#9658;&#9658;</button>
          </div>
          <div class="playbar-time">
            <span id="current-time">0:00</span> / <span id="total-time">0:00</span>
          </div>
          <div class="playbar-progress">
            <div class="playbar-progress-filled"></div>
          </div>
        </div>
    </div>

    <audio id="audio-player"></audio>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const artistParam = urlParams.get('artist');
            const artistButton = document.getElementById('artistAttribute');
            artistButton.textContent = artistParam;
        });

        const audioPlayer = document.getElementById('audio-player');
        const playPauseButton = document.getElementById('play-pause-button');
        const currentTimeElement = document.getElementById('current-time');
        const totalTimeElement = document.getElementById('total-time');
        
        const urlParams = new URLSearchParams(window.location.search);
        const artistParam = urlParams.get('artist');
        const artistButton = document.getElementById('artistAttribute');
        artistButton.textContent = artistParam;
        
        var folderPath = "";
        var fileList = []; 
        var randomFilePath = "";
        var randomIndex = 0;
        var sourceElement = document.createElement("source");

        if (artistButton.textContent !== ""){
            while (audioPlayer.firstChild) {
                audioPlayer.removeChild(audioPlayer.firstChild);
            }

            if (artistButton.textContent === "Halsey") {
                folderPath = "/images/halsey/";
                fileList = ["halsey1.mp3", "halsey2.mp3", "halsey3.mp3", "halsey4.mp3"];
            }
            else if (artistButton.textContent === "Beethoven"){
                folderPath = "/images/beethoven/";
                fileList = ["beeth1.mp3", "beeth2.mp3", "beeth3.mp3"];
            }
            else if (artistButton.textContent === "Madonna"){
                folderPath = "/images/madonna/";
                fileList = ["madonna1.mp3", "madonna2.mp3", "madonna3.mp3", "madonna4.mp3"];
            }
            else {
                folderPath = "/images/chopin/";
                fileList = ["chopin1.mp3", "chopin2.mp3", "chopin3.mp3"];
            }
            randomIndex = Math.floor(Math.random() * fileList.length);
            randomFilePath = folderPath + fileList[randomIndex];
            
            sourceElement.src = randomFilePath;
            sourceElement.type = "audio/mp3";
            audioPlayer.appendChild(sourceElement);
        }

        playPauseButton.addEventListener('click', function() {
          if (audioPlayer.paused) {
            audioPlayer.play();
            playPauseButton.innerHTML = '&#10074;&#10074;';
          } else {
            audioPlayer.pause();
            playPauseButton.innerHTML = '&#9658;';
          }
        });
      
        audioPlayer.addEventListener('ended', function() {
          playPauseButton.innerHTML = '&#9658;';
        });
      
        const backwardButton = document.getElementById('backward-button');
        const forwardButton = document.getElementById('forward-button');
      
        backwardButton.addEventListener('click', function() {
          audioPlayer.currentTime -= 3;
        });
      
        forwardButton.addEventListener('click', function() {
          audioPlayer.currentTime += 3;
        });
      
        audioPlayer.addEventListener('timeupdate', function() {
          const currentTime = formatTime(audioPlayer.currentTime);
          const totalTime = formatTime(audioPlayer.duration);
      
          currentTimeElement.textContent = currentTime;
          totalTimeElement.textContent = totalTime;
      
          const progress = (audioPlayer.currentTime / audioPlayer.duration) * 100;
          document.querySelector('.playbar-progress-filled').style.width = `${progress}%`;
        });
      
        function formatTime(time) {
          const minutes = Math.floor(time / 60);
          const seconds = Math.floor(time % 60).toString().padStart(2, '0');
          return `${minutes}:${seconds}`;
        }
      </script>
{% endblock %}