{% extends 'base.html' %}

{% block content %}

      <style>
        .artists-container {
          display: flex;
          justify-content: center;
          gap: 10px;
          width:100%;
        }

        .artist-button {
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          width: 100%;
          height: 100%;
          transition: transform 0.3s;
        }
        
        .artist-button:hover {
          transform: scale(1.05);
          cursor:pointer;
        }
        
        .artist-button::before {
          content: attr(id);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.3s;
        }
        
        .artist-button:hover::before {
          opacity: 1;
        }

        .loading-container {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          z-index: 9999;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .loading-spinner {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }

        .loading-spinner .dot {
          width: 20px;
          height: 20px;
          border-radius: 70%;
          background-color: antiquewhite;
          animation: blink 1s infinite;
        }

        .loading-spinner .dot:nth-child(1) {
          animation-delay: 0s;
        }

        .loading-spinner .dot:nth-child(2) {
          animation-delay: 0.2s;
        }


        .loading-spinner .dot:nth-child(3) {
          animation-delay: 0.4s;
        }

        .loading-spinner .dot:nth-child(4) {
          animation-delay: 0.6s;
        }

        .loading-spinner .dot:nth-child(5) {
          animation-delay: 0.8s;
        }

        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      </style>

      <div id="loading" class="loading-container" style="display:none">
        <div class="loading-spinner">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>

      <div class="row" style="background-color: rgba(0, 0, 0, 0.7); border-radius: 30px;"></div>
        <div class="col-12 text-center">
          <br>
          <h1 style="color:antiquewhite; margin-bottom:8vh;margin-top: 7%;"> Music Generation with AI</h1>
          <hr>
          <div class="artists-container" >
            <div class="artist-button" id="Halsey" style="width:15%;height:15%" onclick="showLoadingAndRedirect('Halsey')">
              <img src="{{ url_for('static', filename='halsey-big.png') }}" alt="Halsey" style="width:100%;height:100%;">
            </div>
            <div class="artist-button" id="Beethoven" style="width:15%;height:15%" onclick="showLoadingAndRedirect('Beethoven')">
              <img src="{{ url_for('static', filename='beethoven.jpg') }}" alt="Beethoven" style="width:100%;height:100%;">
            </div>
            <div class="artist-button" id="Madonna" style="width:15%;height:15%" onclick="showLoadingAndRedirect('Madonna')">
              <img src="{{ url_for('static', filename='madonna.jpg') }}" alt="Madonna" style="width:100%;height:100%;">
            </div>
          </div>
        </div>
      </div>

      <div  data-toggle="modal" data-target="#exampleModal" style="position: absolute;bottom: 3vh;right: 3vh;width: 7vh;height: 7vh;border-radius: 5000px;padding:10px;background-color: antiquewhite;color: rgb(18, 18, 18);text-align: center;display: flex; align-items: center;justify-content: center;">
        <h4>i</h4>
      </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="position: fixed; top: 0; right: 0; left: 0; width: 100%; height: 100%; z-index: 9999; display: flex; align-items: center; justify-content: center;">
        <div class="modal-content" style="background-color: rgba(250, 235, 215, 0.717); padding: 20px; border-radius: 5px; position: relative;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                  style="position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; cursor: pointer; font-size: 20px; color: #000; border: none; background-color: transparent; outline: none;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <p>Create music effortlessly with a single click, throught the power of an <b>AI generator</b>. Our music generator empowers you to compose new melodies inspired by <ins>one of the artists available</ins> in this website. Improve your creations by seeking valuable feedback and let the AI generator transform your musical journey into an extraordinary experience ☻</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      function callServer() {
        fetch('/generate_music_route') // Replace '/generate_music_route' with the actual route in your Flask server
          .then(response => {
            // Handle the response from the server
          })
          .catch(error => {
            // Handle any errors
            console.error('Error:', error);
          });
      }

      function showLoadingAndRedirect(artistID) {
        document.getElementById("loading").style.display = "flex";
        const delay = ms => new Promise(resolve => setTimeout(resolve, ms));
        delay(2000).then(() => redirectToGenerate(artistID));
      }

      function redirectToGenerate(artistID) {
        var redirectURL = '/generate_music_route?artist=' + encodeURIComponent(artistID);
        window.location.href = redirectURL;
      }
    </script>
{% endblock %}