{% extends 'base.html' %}

{% block content %}

    <div class="row" style="background-image: url('/images/background.png'); background-size: cover; background-repeat: no-repeat;">
        <div class="col-12 text-center">
          <br>
          <h1> Music Generation with AI</h1>
          <hr>
          <button id="generateButton" class="btn btn-primary btn-block" onclick="callServer()">Generate music</button>
          <img src="../templates/images/background.png">
          <img src="./images/background.png">
          <img src="./templates/images/background.png">
        </div>
      </div>

    <script>
      function callServer() {
        fetch('/generate_music_route') // Replace '/generate_music_route' with the actual route in your Flask server
          .then(response => {
            // Handle the response from the server
          })
          .catch(error => {
            // Handle any errors
            console.error('Error:', error);
          });
      }
    </script>
{% endblock %}